<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Google Charts - Simple Scatter Charts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Simple Scatter Chart</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <google-chart [data]="scatterChart"></google-chart>
    </ion-card-content>
  </ion-card>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Custom Scatter Chart</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <google-chart [data]="customScatterChart"></google-chart>
    </ion-card-content>
  </ion-card>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Scatter Chart with Trendline</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <google-chart [data]="trendline"></google-chart>
    </ion-card-content>
  </ion-card>
</ion-content>