<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Google Charts - Simple Area Charts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Simple Area Chart</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <google-chart [data]="areaChart"></google-chart>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Grouped Area Chart</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <google-chart [data]="groupAreaChart"></google-chart>
    </ion-card-content>
  </ion-card>


</ion-content>